h1 {
    text-align: center; /* Center the header text */
    margin-bottom: 20px; /* Add space below the header */
    font-size: 2em; /* Increase the font size */
    color: #333; /* Change the text color */
}

body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: column; /* Horizontally center */
    align-items: center; /* Vertically center */
    flex-direction: column;
  }

.visualization-container {
    display: flex;
    justify-content: column; 
    align-items: column;
    gap: 10px; 
  }
  
  #malaysia_map, #Domestic_trend_tourism {
    width: 100%;
    height: 500px;
  }
  
  #malaysia_map {
    flex: 1;
  }
  
  #Domestic_trend_tourism {
    flex: 1;
  }
  